/*.navbar-xs { min-height:22px; border-radius:0} 
.navbar-xs .navbar-brand{ padding: 2px 8px;font-size: 14px;line-height: 14px; } 
.navbar-xs .navbar-nav > li > a { border-right:1px solid #ddd; padding-top: 2px; padding-bottom: 2px; line-height: 16px }*/

/*TO DO: this should be removed when demo stuff is removed from home page*/
#theme-demo {
	margin-top: 100px
}

.navbar .navbar-fixed-top  {
    min-height:100px
}

body { 
	padding-top:150px
}


.navbar-fixed-top .navbar-brand { 
   	padding-right:0px; 
   	margin-right:0px 
} 

.navbar-fixed-top form.navbar-form {
	margin-top: 32px;
}

.navbar-fixed-top .navbar-toggle {
	margin-top: 32px;
}

.navbar-fixed-top li > a {
	margin-top: 24px;
} 

/*draw the text of the brand bigger than the rest*/
li > a.navbar-brand2 {
	top: 18px;
    font-size: 24px;
    line-height: 24px;
    margin-top: 4px;
} 
 
#spinner {
	margin: 0;
    width: 70px;
    height: 70px;
    background: #fffff;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 20000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 20000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
} }



